asgiref==3.8.1
crispy-bootstrap5==2025.6
dj-database-url==0.5.0
django==4.2.24
django-crispy-forms==2.4
gunicorn==23.0.0
jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0
pillow==10.4.0
PyYAML==6.0.3
render==1.0.0
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2
whitenoise==6.7.0
