{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}LogIn{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5 col-sm-10 mt-5 ">
				<h2>LOG IN</h2>
				<form method="Post">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-success">LogIn</button>
					</div>
					<span> Don't have an account? <a class="btn-dark" href="{% url 'signup' %}">SignUp</a></span>	 
				</form>
			</div>
		</div>
	</div>
	
{% endblock content %}