{% extends 'base.html' %}

{% block title %}Delete Comment{% endblock title %}

{% block content %}
	{% include 'navbar.html' %}
	<div class="main-content mb-5">
		<div class="container mb-3">
			<div class="container">
			<div class="row mt-5">
				<div class="col-md-5 col-sm-6">
					<a class="btn btn-light" href="{% url 'postdetail' object.post.pk %}">Back to Post</a>
				</div>

			<div class="row justify-content-center">
				<div class="col-md-5 col-sm-12 border-bottom border-black">
					<form method="POST">
						{% csrf_token %}
						<h5>Are You sure?</h5>
						<p>You are about to delete this comment. This can't be undone!</p>
						<div class="d-grid gap-2 mb-5">
							<button class="btn btn-danger">Submit!</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}