{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}
<div class="main-content ">
	<div class="container mb-5">
		<div class="row">
			<div class="col-md-3 col-sm-2">
				<a class="btn btn-dark bg-btwn" href="{% url 'postlist' %}"><i class="fa fa-circle-left"></i></a>
			</div>
			<div class="col-md-9 col-sm-4 position-relative mt-3">
				<p>
					<div class="row">
						<div class="col-8">
							<input type="text" class="form-control me-2 " placeholder="seek" aria-label="Search" name="query" value="{{ request.GET.query }}">
						</div>
						<div class="col-3 pt-1">
							<i class="fa fa-search"></i>
						</div>
					</div>
					<a href="#sidebar" class="nav-link d-block post-link stretched-link" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
					</a>
				</p>
			</div>
		</div>
		<div class="row justify-content-center border-bottom border-danger">
			<div class="col-6 pt-2">
				<p class="text-secondary"><i class="fa fa-search-plus"></i> Explore Users</p>
			</div>
		</div>
			{% for profile in profile_list %}
			<div class="row justify-content-center mt-3">
				<div class="col-md-5 col-sm-12 border-bottom border-black position-relative">
					<div class="	row">
						<div class="col-3">
							<a href="{% url 'profileview' profile.pk %}">
								<img class="rounded-circle border border-dark post-img" height="70" width="70" src="{{ profile.picture.url }}" />
							</a>
						</div>
						<div class="col-8 py-1">
							<span class="post-text">
								<a class="post-link text-danger" href="{% url 'profileview' profile.pk %}">@{{ profile.user }} </a>
							</span><br>
							{% if profile.school %}
							<span class="text-secondary">{{ profile.school }}</span><br>
							{% else %}
							<span ></span><br>
							{% endif %}
							<strong>{{ profile.followers.count }}</strong> Followers
						</div>					
					</div>
					<a class="stretched-link" href="{% url 'profileview' profile.pk %}"></a>				
				</div>
			</div>
			{% endfor %}
	</div>
</div>
{% endblock %}