{% extends 'base.html' %}

{% block title %}CREATE{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}
<div class="main-content">
	<div class="container mt-5">
		<div class="row justify-content-center mt-5">
			<div class="col-md-5 col-sm-9">
				<h5 class="fw-bold">Add A Post!</h5>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-md-5 col-sm-9 border-bottom border-black">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form | crispy }}
					<div class="d-grid gap-2 mb-5">
						<button class="btn btn-success">Submit!</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
</div>
{% endblock %}