{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
	{% include 'navbar.html' %}
	<div class="main-content">
		<div class="container mb-5">
			<div class="row bg-black">
				<div class="col-md-3 col-sm-6">
					<a href="{% url 'postlist' %}" class="btn btn-dark shadow-lg"><i class="fa fa-circle-left"></i></a>
				</div>
			</div>

			<!-- MOBILE VIEW -->

			<div class="bg-black d-block d-md-none">
				<div class="row justify-content-between">
					<div class="col-4">
						<img src="{{ profile.picture.url }}" class="rounded-circle border border-dark" height="125" width="125" />
					</div>
					<div class="col-8">
						<div class="row pt-3">
							{% if profile.name %}
							<div class="col ps-3">
								<h3 class="">{{ profile.name }} </h3>								
							</div>
								{% if request.user == user %}
							<div class="col-3">
								<div class="dropdown">
									<a class="nav-link dropdown-toggle text-white " data-bs-toggle="dropdown" role="buton" id="user-dropdown" aria-expanded="false">
                    					<i class="fa fa-user"></i>
                    				</a>
                    				<ul class="dropdown-menu" aria-labelledby="user-dropdown">
                        				<li><a class="dropdown-item" href="{% url 'profile-edit' profile.pk %}"><i class="fa fa-edit"></i>EDIT</a></li>
                        				<!--<li>
                        					<a class="btn remove-default-btn text-primary" href="{% url 'password_change' %}"></a>
                        				</li>-->
                        				<li>
                           					<form action="{% url 'logout' %}" method="post">
                                				{% csrf_token %}
                                				<button type="submit" class="remove-default-btn"><i class="fa fa-user-alt"></i>Log Out</button>
                            				</form>
                        				</li>
                    				</ul>
                				</div>
							</div>
								{% endif %}

							{% else %}
							<div class="col ps-3">
								<h3 class="">
								{{ user.username }}
								</h3>
								{% if profile.birth_date %}
								<p>{{ profile.birth_date }}</p>
								{% endif %}

								<p>
									<strong><a class="post-link text-white" href="{% url 'followers_list' profile.pk %}">Followers: </a></strong>
									{{ number_of_followers }}
								</p>
							</div>
							{% if request.user == user %}
							<div class="col-3">
								<div class="dropdown">
									<a class="nav-link dropdown-toggle text-white " data-bs-toggle="dropdown" role="buton" id="user-dropdown" aria-expanded="false">
                    					<i class="fa fa-user"></i>
                    				</a>
                    				<ul class="dropdown-menu" aria-labelledby="user-dropdown">
                        				<li><a class="dropdown-item" href="{% url 'profile-edit' profile.pk %}"><i class="fa fa-edit"></i>EDIT</a></li>
                        				<!--<li>
                        					<a class="btn remove-default-btn text-primary" href="{% url 'password_change' %}"></a>
                        				</li>-->
                        				<li>
                           					<form action="{% url 'logout' %}" method="post">
                                				{% csrf_token %}
                                				<button type="submit" class="remove-default-btn"><i class="fa fa-user-alt"></i>Log Out</button>
                            				</form>
                        				</li>
                    				</ul>
                				</div>
							</div>
							{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
				<div class="row justify-content-start">
					
					{% if user == request.user %}

					<div class="col-12">
						{% if profile.bio %}
						<strong>Bio:</strong>
						<div class="border-top border-start border-end border-dark rounded">
							<p class="p-2"> {{ profile.bio }}</p>
						</div>
						{% else %}
						<div class="border-top border-start border-end border-dark rounded"></div>
						{% endif %}
					</div>

					{%  else %}

					<div class="col-3">
						{% if user == request.user %}
						{% else %}
						{% if is_following %}
						<form method="POST" action="{% url 'remove-follower' profile.pk %}">
							{% csrf_token %}
							<small><button class="btn rounded-sm rounded btn-outline-danger" type="submit">Unfollow</button></small>
						</form>
						{% else %}
						<form method="POST" action="{% url 'add-follower' profile.pk %}">
							{% csrf_token %}
							<small><button class="btn rounded-sm rounded btn-outline-success" type="submit">Follow</button></small>
						</form>
						{% endif %}
						{% endif %}
					</div>
					<div class="col-9">
						{% if profile.bio %}
						<strong>Bio:</strong>
						<div class="border-top border-start border-end border-dark rounded">
							<p class="p-2"> {{ profile.bio }}</p>
						</div>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>

			<!-- LARGE SCREENS -->

			<div class="row bg-black d-none d-md-block justify-content-center">
				<div class="card bg-black shadow-sm col-md-12 col-sm-12 px-5 pt-3 text-white">
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<img src="{{ profile.picture.url }}" class="rounded-circle border border-dark" height="100" width="100" />
							<div class=" text-white">
								<p>
									{% if user == request.user %}
									{% else %}
									{% if is_following %}
									<form method="POST" action="{% url 'remove-follower' profile.pk %}">
										{% csrf_token %}
										<small><button class="btn rounded-sm rounded btn-outline-danger" type="submit">Unfollow</button></small>
									</form>
									{% else %}
									<form method="POST" action="{% url 'add-follower' profile.pk %}">
									{% csrf_token %}
										<small><button class="btn rounded-sm rounded btn-outline-success" type="submit">Follow</button></small>
									</form>
									{% endif %}
									{% endif %}
								</p>
							</div>
						</div>

						<div class="col-md-7 col-sm-4 ms-5 ">
							{% if profile.name %}
							<h3 class="pt-4">{{ profile.name }}
								<span>
									{% if request.user == user %}
										<a href="{% url 'profile-edit' profile.pk %}" class="edit-color"><i class="fa fa-edit"></i>edit</a>
									{% endif %}
								</span>
								{% else %}
								<h3 class="pt-4">
									{{ user.username }} 
										{% if request.user == user %}
											<small class="d-md-none d-block"><a href="{% url 'profile-edit' profile.pk %}" class=" text-secondary edit-color post-link"><small><i class="fa fa-edit"></i></small></a></small>
										{% endif %}
								</h3>
								{% endif %}
							</h3>

							{% if profile.birth_date %}
							<p>{{ profile.birth_date }}</p>
							{% endif %}

							<div class=" text-white">
								<p>
									<strong><a class="post-link text-white" href="{% url 'followers_list' profile.pk %}">Followers: </a></strong>
									{{ number_of_followers }}
								</p>
							</div>
						</div>

						<div class="col-md-1 pt-4">
							{% if request.user == user %}
								<div class="dropdown">
									
                    				<a class="nav-link dropdown-toggle text-white " data-bs-toggle="dropdown" role="buton" id="user-dropdown" aria-expanded="false">
                    					<i class="fa fa-user"></i>
                    				</a>
                    				<ul class="dropdown-menu" aria-labelledby="user-dropdown">
                        				<li><a class="dropdown-item" href="{% url 'profile-edit' profile.pk %}"><i class="fa fa-edit"></i>EDIT</a></li>
                        				<!--<li>
                        					<a class="btn remove-default-btn text-primary" href="{% url 'password_change' %}"></a>
                        				</li>-->
                        				<li>
                           					<form action="{% url 'logout' %}" method="post">
                                				{% csrf_token %}
                                				<button type="submit" class="remove-default-btn"><i class="fa fa-user-alt"></i>Log Out</button>
                            				</form>
                        				</li>
                    				</ul>
                				</div>
							{% endif %}
						</div>
					</div>

					{% if profile.school %}
					<p class="lead">Attends Skool at: <b>{{ profile.school }}</b></p>
					{% endif %}

					<div class="row justify-content-start">
						<div class="col-md-6">
							{% if profile.bio %}
							<strong>Bio:</strong>
							<div  class="border border-dark rounded">
								<p class="p-2"> {{ profile.bio }}</p>
							</div>
							{% endif %}
						</div>
					</div>	
				</div>
			</div>

				<!-- POSTS -->

			<div class="row bg-black rounded justify-content-center mt-1 mb-1 text-white">
				<div class="col-1">
					POSTS
				</div>
			</div>
			{% for post in posts %}
			<div class="row justify-content-center text-white">
				<div class="col-md-6 col-sm-12 card rounded border-bottom border-dark bg-black">
					<div class="card-header text-secondary">
						<a href="{% url 'profileview' post.author.profile.pk %}">
							<img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
						</a>
						<p class="post-text">
							<a class="post-link text-primary" href="{% url 'profileview' post.author.profile.pk %}">@{{ post.author }} </a><small>{{ post.created_on }}</small>
						</p> 
					</div>
					{% if post.video %}
						<video class="img-fluid card-img-top post-image" loop controls="controls" >
							<source src="{{ post.video.url }}" type="video/mp4" />
						</video>
					{% endif %}
					<div class="position-relative">
						{% if post.image %} 
							<img src="{{ post.image.url }}" class="img-fluid card-img-top post-image" />
						{% endif %}
						<p class="text-white">
							<a class="post-link text-primary" href="{% url 'profileview' post.author.profile.pk %}"><small class="text-secondary">@{{ post.author }}_:</small></a>
							{{ post.body }}</p>
						<a href="{% url 'postdetail' post.pk %}" class="stretched-link"></a>
					</div>
					<div class="d-flex card-footer flex-row">
						<form method="POST" action="{% url 'like' post.pk %}">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}">
							<button class="remove-default-btn text-white" type="submit"><i class="fa fa-thumbs-up"> </i> <span>{{ post.likes.all.count }}</span></button>
						</form>
						<form method="POST" action="{% url 'dislike' post.pk %}">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}">
							<button class="remove-default-btn text-white" type="submit"><i class="fa fa-thumbs-down"></i> <span>{{ post.dislikes.all.count }}</span></button>
						</form>
						<a class="ms-5 text-white post-link" href="{% url 'postdetail' post.pk %}"><i class="fa fa-comment"></i> comment</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>	
	</div>
	
{% endblock %}
